@charset "UTF-8";
:root {
  /* Шрифти */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway;
  /* Кольори */
  --title-cl: #212121;
  --txt-cl: #757575;
  --accent-cl: #2196f3;
  --bg-cl: #2f303a;
}

body {
  font-family: var(--main-font);
  color: var(--txt-cl);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}

img {
  display: block;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 10px 28px;
  border-radius: 4px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #158bec;
}

.title {
  color: var(--title-cl);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  margin-right: 93px;
  color: var(--accent-cl);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logo__color--dark {
  color: #000;
}

.logo__color--white {
  color: #fff;
}

.logo-footer {
  margin-bottom: 20px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__link {
  color: var(--title-cl);
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-cl);
}

.navigation__link--active {
  color: var(--accent-cl);
}
.navigation__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-cl);
}

.contacts-list {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-list__item {
  margin-right: 50px;
}
.contacts-list__item:last-child {
  margin: 0;
}

.contacts-list__link {
  color: var(--txt-cl);
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-cl);
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: var(--bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bg.png);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-container {
  padding: 0;
}

.hero__title {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 694px;
}

.hero__btn {
  padding: 10px 32px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.6);
  -webkit-transition: visibility 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
          transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.modal-wrapper {
  position: absolute;
  width: 528px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrapper__close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-wrapper__close:focus {
  border: 1px solid var(--accent-cl);
}

.modal-wrapper__close-icon {
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrapper__close:hover .modal-wrapper__close-icon, .modal-wrapper__close:focus .modal-wrapper__close-icon {
  fill: var(--accent-cl);
}

.modal-form {
  width: 448px;
}

.modal-form__title {
  display: block;
  color: var(--title-cl);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-form__group {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.modal-form__group:last-child {
  margin-top: 25px;
}

.modal-form__textarea {
  margin-bottom: 24px;
}

.modal-form__label {
  display: block;
  color: var(--txt-cl);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  padding: 11px 20px 11px 40px;
  font-size: 12px;
  font-weight: 400;
  color: var(--txt-cl);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  -webkit-transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus, .modal-form__input:hover {
  border: 1px solid var(--accent-cl);
}

.modal-form__icon {
  position: absolute;
  top: 30px;
  left: 12px;
  -webkit-transition: fill 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover + .modal-form__icon, .modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-cl);
}

.modal-form__comment {
  resize: none;
  max-width: 100%;
  min-width: 448px;
  max-height: 120px;
  min-height: 120px;
  padding: 12px 16px;
  color: var(--txt-cl);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment:focus, .modal-form__comment:hover {
  border: 1px solid var(--accent-cl);
}
.modal-form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__text {
  margin-bottom: 0;
  color: var(--txt-cl);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}

.modal-form__link {
  color: var(--accent-cl);
  display: inline-block;
}

.modal-form__conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 13px;
  margin-bottom: 30px;
}

.modal-form__custom-checkbox {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgb(33, 33, 33);
  border-radius: 2px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
  fill: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:focus + .modal-form__custom-checkbox {
  border: 1px solid var(--accent-cl);
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  background-color: var(--accent-cl);
  border: 1px solid var(--accent-cl);
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
  opacity: 1;
}

.modal-form__btn {
  padding: 10px 52px;
}

.form-mailing__title {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.form-mailing__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-mailing__input {
  width: 358px;
  padding: 16px 20px 15px 16px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  margin-right: 12px;
  -webkit-transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.form-mailing__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
}
.form-mailing__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
}
.form-mailing__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
}
.form-mailing__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
}
.form-mailing__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
}
.form-mailing__input:focus, .form-mailing__input:hover {
  border: 1px solid var(--accent-cl);
}

.form-mailing__icon {
  fill: #fff;
  margin-left: 10px;
}

.about.section {
  padding-bottom: 0;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list__item {
  margin-right: 30px;
  width: 270px;
}
.about-list__item:last-child {
  margin-right: 0;
}

.about-list__title {
  color: var(--title-cl);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-list__text {
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.about-list__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.specialization-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.specialization-list__item {
  position: relative;
}

.specialization-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.42px;
  font-weight: 700;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team-list__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  color: var(--title-cl);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: center;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-cl);
}

.social-list__icon {
  fill: currentColor;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #fff;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients-list__item {
  width: 170px;
  height: 92px;
  color: #afb1b8;
}

.clients-list__icon {
  fill: currentColor;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #afb1b8;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-cl);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-cl);
}

.footer {
  background-color: var(--bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-container {
  margin-right: 93px;
}

.address__footer {
  font-style: normal;
  color: #fff;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.footer-list__item {
  margin-bottom: 9px;
}
.footer-list__item:last-child {
  margin-bottom: 0;
}

.footer-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:hover, .footer-list__link:focus {
  color: var(--accent-cl);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.join {
  margin-right: auto;
}

.join__text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-list__link--gray {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.projects-list__item {
  margin-right: 8px;
}
.projects-list__item:last-child {
  margin-right: 0;
}

.projects-list__btn {
  font-size: 16px;
  background-color: #f5f4fa;
  color: var(--title-cl);
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  letter-spacing: 0.48px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__btn:hover, .projects-list__btn:focus {
  color: #fff;
  background-color: var(--accent-cl);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.projects-list__btn--active {
  background-color: var(--accent-cl);
  color: #fff;
}

.projects-type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.projects-type-list__link {
  -webkit-transition: -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-type-list__link:hover, .projects-type-list__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects-type-list__link:hover .projects-type-list__overlay, .projects-type-list__link:focus .projects-type-list__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.projects-type-list__info {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.projects-type-list__title {
  margin-bottom: 4px;
}

.projects-type-list__item {
  background: #fff;
}

.projects-type-list__title {
  color: var(--title-cl);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.projects-type-list__name {
  color: var(--txt-cl);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.projects-type-list__overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.projects-type-list__overlay {
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-type-list__text {
  width: 322px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
}/*# sourceMappingURL=main.css.map */