// Шрифти та палітра кольорів
:root {
    /* Шрифти */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway;
    /* Кольори */
    --title-cl: #212121;
    --txt-cl: #757575;
    --accent-cl: #2196f3;
    --bg-cl: #2f303a;
  }