// Загальні стилі для всіх сторінок
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    // Мобільні екрани

    @include mq(mobile) {
      width: 450px;
    }

    // Планшетні екрани
    @include mq(tablet) {
      width: 768px;
    }

    // ПК екрани
    @include mq(desktop) {
      width: 1200px;
    }
  }
  

  
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }