// Мобільне меню

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    .link {
      padding: 10px;
      text-decoration: none;
    }
    .link:hover,
    .link:focus {
      text-decoration: underline;
}

    @include mq (tablet){
      display: none;
    }
  }

  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
  
    margin-left: auto;
    background-color: transparent;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    &:hover,
    &:focus {
    background-color: rgba(0, 0, 0, 0.1);
    }
    @include mq (tablet) {
      display: none;
    }
  }
  

  .menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #fff;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out, visibility 250ms ease-in-out, opacity 250ms ease-in-out;

    @include mq (tablet) {
      display: none;
    }
  }
  
  .menu-container.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 7px;
    right: 24px;
    color: var(--title-cl);
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color: var(--title-cl);
    text-decoration: none;
  }