// Головна секція
.hero {
    background-color: var(--bg-cl);
    padding-top: 118px;
    padding-bottom: 118px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    max-width: 1600px;


    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-sm.png);

    background-image: -webkit-image-set(url(../images/hero/hero-bg-sm.webp) 1x), linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4));
    
    @include mq (mobile-only) {
      @include mq (retina) {
        background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-sm@2x.png);
  
        background-image: -webkit-image-set(url(../images/hero/hero-bg-sm@2x.webp) 2x), linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      );
    }
    }

    

    @include mq (tablet) {
      background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-md.png);

      background-image: -webkit-image-set(url(../images/hero/hero-bg-md.webp) 1x), linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    );

      @include mq (retina) {
        background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-md@2x.png);

        background-image: -webkit-image-set(url(../images/hero/hero-bg-md@2x.webp) 2x), linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    );
      }
    }

    

    @include mq (desktop) {
      background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-lg.png);

      background-image: -webkit-image-set(url(../images/hero/hero-bg-lg.webp) 1x), linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    );

      @include mq (retina) {
        background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-lg@2x.png);

        background-image: -webkit-image-set(url(../images/hero/hero-bg-lg@2x.webp) 2x), linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    );
      }

      
    }
  }
  
  .hero-container {
    padding: 0;
  }
  
  .hero__title {
    color: #fff;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;

    @include mq (small-mobile) {
      width: 280px;
      font-size: 30px;
    }

    @include mq (desktop) {
      width: 694px;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 2.64px;
    }
  }
  
  .hero__btn {
    padding: 10px 24px;
    @include mq (desktop) {
      padding: 10px 32px;
    }
  }