// Клієнти

.clients-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .clients-list__item {
    width: 170px;
    height: 92px;
    color: #afb1b8;
  }
  
  .clients-list__icon {
    fill: currentColor;
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #afb1b8;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
  &:focus {
    border: 1px solid var(--accent-cl);
    .clients-list__icon {
        fill: var(--accent-cl);
    }
  }
  }
  