// Стилі хедера
.header {
    border-bottom: 1px solid #ececec;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .navigation__list {
    display: none;
    @include mq(tablet) {
      display: flex;
    }
  }
  
  .navigation__item {
    margin-right: 50px;
  }
  
  .navigation__link {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
    &:hover {
      color: var(--accent-cl);
    }

    @include mq (small-mobile) {
      font-size: 30px;
    }

    @include mq (tablet) {
      color: var(--title-cl);
      font-weight: 500;
      letter-spacing: 0.28px;
      transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      padding-top: 32px;
      font-size: 14px;
      padding-bottom: 32px;
      position: relative;
      &:hover,
      &:focus {
      color: var(--accent-cl);
    }
  }
  }

  
  
  .navigation__link--active {
    @include mq (tablet) {
      color: var(--accent-cl);
      &::after {
          content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-cl);
      }
    }
  }
  
  .contacts-list {
    display: none;
    @include mq(tablet) {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    @include mq (desktop) {
      flex-direction: row;
      gap: 30px;
    }
  }
  
  .contacts-list__item {
    margin-right: 50px;
    &:last-child {
        margin: 0;
    }

    @include mq (tablet) {
      margin: 0;
    }
  }
  
  .contacts-list__icon {
    margin-right: 8px;
    fill: currentColor;
  }
  
  .contacts-list__link {
    color: var(--txt-cl);
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    &:hover,
    &:focus + .contacts-list__icon {
    color: var(--accent-cl);
  }

  @include mq (tablet) {
    padding: 0;
  }
  }
