// Кнопки фільтру

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;

    @include mq (tablet) {
      justify-content: center;
    }

    @include mq (desktop) {
      justify-content: center;
      margin-bottom: 50px;
    }
  }
  
  .projects-list__item {
    margin-right: 8px;
    margin-bottom: 15px;
    &:last-child {
    margin-right: 0;
  }

  @include mq (desktop) {
    margin-bottom: 0;
  }
  }
  
  .projects-list__btn {
    font-size: 16px;
    background-color: #f5f4fa;
    color: var(--title-cl);
    font-weight: 500;
    line-height: 1.62;
    padding: 6px 22px;
    border-radius: 4px;
    letter-spacing: 0.48px;
    box-shadow: none;
    transition-property: background-color, color, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
  &:hover,
  &:focus {
    color: #fff;
    background-color: var(--accent-cl);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
  }
  
  .projects-list__btn--active {
    background-color: var(--accent-cl);
    color: #fff;
  }
  
  
  