// Футер

.footer {
    background-color: var(--bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq (tablet) {
      flex-direction: row;
      align-items: baseline;
    }
  }
  
  .address-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq (tablet) {
      display: block;
      margin-right: 93px;
    }
  }
  
  .address__footer {
    font-style: normal;
    color: #fff;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
  }

  .address {
    @include mq (mobile-only) {
      margin-bottom: 60px;
    }
  }

  .footer-list {
    @include mq (mobile-only) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .footer-list__item {
    margin-bottom: 9px;
    &:last-child {
    margin-bottom: 0;
  }
  }

  
  .footer-list__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.42px;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
  &:focus {
    color: var(--accent-cl);
  }
  }
  
  .join {
    margin-bottom: 60px;

    @include mq (tablet) {
      margin-bottom: 0;
      margin-right: auto;
    }
  }
  
  .join__text {
    @include mq (mobile-only) {
      text-align: center;
    }

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .social-list__link--gray {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
  }