// Команда

.team {
    background-color: #f5f4fa;
  }
  
  .team-list {
    display: flex;
    gap: 30px;
  }
  
  .team-list__item {
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-info {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .team-list__title {
    color: var(--title-cl);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .team-list__text {
    font-size: 16px;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    color: #afb1b8;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
  &:focus {
    background-color: var(--accent-cl);
  }
  }
  
  .social-list__icon {
    fill: currentColor;
    transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-list__link {
    &:hover,
    &:focus {
        .social-list__icon {
            fill: #fff;
        }
    }
  }