// Про нас
.about.section {
    padding-bottom: 60px;

    @include mq (desktop) {
      padding-bottom: 0;
    }
  }
  
  .about-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;

    @include mq (small-mobile) {
      align-items: center;
    }

    @include mq (tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
  .about-list__item {
    width: 100%;

    @include mq (tablet) {
      width: 354px;
      &:last-child {
          margin-right: 0;
        }
    }

    @include mq (desktop) {
      width: 270px;
    }
  }
  
  .about-list__title {
    color: var(--title-cl);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @include mq (tablet) {
      text-align: left;
    }
  }
  
  .about-list__text {
    line-height: 1.71;
    letter-spacing: 0.42px;

    @include mq (small-mobile) {
      text-align: center;
    }
  }
  
  .about-list__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }