// Головна секція
.hero {
    background-color: var(--bg-cl);
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130% 100%;
    margin: 0 auto;

    @include mq (desktop) {
      padding-top: 200px;
      padding-bottom: 200px;
      background-size: cover;
      max-width: 1600px;
    }
  }
  
  .hero-container {
    padding: 0;
  }
  
  .hero__title {
    color: #fff;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;

    @include mq (desktop) {
      width: 694px;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 2.64px;
    }
  }
  
  .hero__btn {
    padding: 10px 24px;
    @include mq (desktop) {
      padding: 10px 32px;
    }
  }