// Обнулення стилів
body {
    font-family: var(--main-font);
    color: var(--txt-cl);
    font-size: 14px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h5,
  p {
    margin: 0;
  }
  
  img {
    display: block;
  }
  
  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    display: block;
  }